
<h3>Players:</h3>
<div style="margin-top: 20px">
    @foreach (var item in Model.GetAllPlayers())
    {
        <div class="DivLobbyPlayers">
            <b>@item.username</b>
            <hr />
        </div>
    }
</div>
