@model Submarine.Web.Models.LobbyModel
@{
    ViewData["Title"] = "JoinLobby";
}

@using (Html.BeginForm("JoinLobby", "Lobby", FormMethod.Post))
{

    <h1>JoinLobby</h1>
    <div class="DivStartButtons" , style="margin-top: 265px">
        <h2>Enter lobby code</h2>

        @Html.EditorFor(model => model.lobbyCode, new {htmlAttributes = new {@class = "text"}})
        @Html.ValidationMessageFor(model => model.lobbyCode, "", new {@class = "text-danger"})
        <div style="margin-top: 20px">
            <button type="submit" , class="btn btn-startbuttons">Join lobby</button>
        </div>
    </div>
}