<!DOCTYPE html>
<head>
    <script>
        var count = 0;
        var maxSize = 0;
        var grid = [
                ["empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty",],
                ["empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty",],
                ["empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty",],
                ["empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty",],
                ["empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty",],
                ["empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty",],
                ["empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty",],
                ["empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty",],
                ["empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty",],
                ["empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty",]
            ];

        function clicked(event) {
            var eventRow = parseInt(event.getAttribute("data-row"));    
            var eventCol = parseInt(event.getAttribute("data-col"));

            grid[eventRow][eventCol] = "clicked";

            if (grid[eventRow+1][eventCol] == "empty" && grid[eventRow][eventCol] == "clicked") {

                if(event.style.background == 'yellow' && count<maxSize) {
                    $(event).css('background', 'lightgray');
                    count++;
                }
                else if(event.style.background == 'red'){
                    $(event).css('background', '');
                    count--;
                }
            }

            
        }

        function hoverOver(event) {
            if(event.style.background == '') {
                $(event).css('background', 'yellow');
            }
            if(event.style.background == "lightgray") {
                $(event).css('background', 'red');
            }
        }

        function hoverOut(event) {
            if(event.style.background == 'yellow') {
                $(event).css('background', '');
            }
            if(event.style.background == "red") {
                $(event).css('background', 'lightgray');
            }
        }

        function chosenShip(event) {
            count = 0;
            maxSize = event.getAttribute("data-size");
        }
    </script>
</head>
<body>
@for (int i = 0; i < 10; i++)
{
    <div class="row no-gutters PlaceShipsRow">
        @for (int j = 0; j < 10; j++)
        {
            <div class="col field" id="@i-@j" data-row="@i" data-col="@j" onclick="clicked(this)" onmouseover="hoverOver(this)" onmouseout="hoverOut(this)">

            </div>
        }
    </div>
}
</body>
