<!DOCTYPE html>
<head>
    @*<script type="text/javascript">
        var lastClicked;
        var i = 0;
        var grid = clickableGrid(10,
            10,
            function (el, row, col, i) {
                //console.log("You clicked on element:",el);
                //console.log("You clicked on row:",row);
                //console.log("You clicked on col:",col);
                //console.log("You clicked on item #:",i);
                if (el.className == '') {
                    el.className = 'clicked';
                    lastClicked = el;
                } else if (el.className == 'clicked') {
                    el.className = '';
                }
                //if (lastClicked) lastClicked.className = '';
            });

        //grid = clickedRows(grid, lastClicked);

        document.body.appendChild(grid);

        function clickableGrid(rows, cols, callback) {
            var grid = document.createElement('game');
            grid.className = 'grid';
            for (var r = 0; r < rows; ++r) {
                var tr = grid.appendChild(document.createElement('tr'));
                for (var c = 0; c < cols; ++c) {
                    var cell = tr.appendChild(document.createElement('td'));
                    cell.addEventListener('click',
                        (function (el, r, c, i) {
                            return function () {
                                callback(el, r, c, i);
                            }
                        })(cell, r, c, i),
                        false);
                }
            }
            return grid;
        }

        //function clickedRows(grid, lastclicked) {
        //    if (lastclicked != null) {
        //        for (var i = lastClicked.r; i < lastClicked.r+3; i++) {
        //            grid[i][lastClicked.c].className = "clicked";
        //        }
        //    }
        //    return grid;
        //}
    </script>*@
    <script>
        function clicked(event) {
            var dataRow = event.getAttribute("data-row");
            var dataCol = event.getAttribute("data-col");

            //alert(dataRow + dataCol);
            if(event.style.background == 'yellow') {
                $(event).css('background', 'lightgray');
            }
            else {
                $(event).css('background', '');
            }
        }

        function hoverOver(event) {
            if(event.style.background == "") {
                $(event).css('background', 'yellow');
            }
            if(event.style.background == "lightgray") {
                $(event).css('background', 'red');
            }
        }

        function hoverOut(event) {
            if(event.style.background == 'yellow') {
                $(event).css('background', '');
            }
            if(event.style.background == "red") {
                $(event).css('background', 'lightgray');
            }
        }
    </script>


    
</head>
<body>
@for (var i = 1; i < 11; i++)
{
    <div class="row no-gutters playingFieldRow">
        @for (var j = 1; j < 11; j++)
        {
            <div class="col field" data-row="@i" data-col="@j" onclick="clicked(this)" onmouseover="hoverOver(this)" onmouseout="hoverOut(this)">
                
            </div>
        }
    </div>
}
</body>
