<!DOCTYPE html>
<head>
    <script>
        var count = 0;
        var maxSize = 0;
        var grid = [
            [["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]],
            [["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]],
            [["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]],
            [["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]],
            [["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]],
            [["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]],
            [["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]],
            [["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]],
            [["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]],
            [["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]]
        ];
        var firstIsPlaced = false;
        var vertical = false;
        var horizontal = false;
        var shipName = "";

        function clicked(event)
        {
            var eventRow = parseInt(event.getAttribute("data-row"));    
            var eventCol = parseInt(event.getAttribute("data-col"));


            if (grid[eventRow][eventCol][0] == "empty" && !firstIsPlaced)
            {
                grid[eventRow][eventCol][0] = "clicked";
                grid[eventRow][eventCol][1] = shipName;
                firstIsPlaced = true;

                if (event.style.background == 'yellow' && count < maxSize)
                {
                    $(event).css('background', 'lightgray');
                    count++;
                }
                else if(event.style.background == 'red'){
                    $(event).css('background', '');
                    count--;
                }
            }
            if (firstIsPlaced)
            {
                if (eventRow < 9 && eventRow > 0 && eventCol > 0 && eventCol < 9)
                {
                    if (grid[eventRow][eventCol][0] == "empty" && !vertical &&
                    (grid[eventRow][eventCol - 1][0] == "clicked" && grid[eventRow][eventCol - 1][1] == shipName
                        || grid[eventRow][eventCol + 1][0] == "clicked" && grid[eventRow][eventCol + 1][1] == shipName))
                    {
                        horizontal = true;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                        if(event.style.background == 'yellow' && count<maxSize) {
                            $(event).css('background', 'greenyellow');
                            count++;
                        }
                    }

                    if (grid[eventRow][eventCol][0] == "empty" && !horizontal &&
                    (grid[eventRow - 1][eventCol][0] == "clicked" && grid[eventRow - 1][eventCol][1] == shipName
                        || grid[eventRow + 1][eventCol][0] == "clicked" && grid[eventRow + 1][eventCol][1] == shipName))
                    {
                        vertical = true;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                        if(event.style.background == 'yellow' && count<maxSize) {
                            $(event).css('background', 'greenyellow');
                            count++;
                        }
                    }
                }
                else if (eventRow == 0 && eventCol == 0)
                {
                    if (grid[eventRow][eventCol][0] == "empty" && !vertical &&
                    grid[eventRow][eventCol + 1][0] == "clicked" && grid[eventRow][eventCol + 1][1] == shipName)
                    {
                        horizontal = true;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                        if(event.style.background == 'yellow' && count<maxSize) {
                            $(event).css('background', 'greenyellow');
                            count++;
                        }
                    }

                    if (grid[eventRow][eventCol][0] == "empty" && !horizontal &&
                    grid[eventRow + 1][eventCol][0] == "clicked" && grid[eventRow + 1][eventCol][1] == shipName)
                    {
                        vertical = true;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                        if(event.style.background == 'yellow' && count<maxSize) {
                            $(event).css('background', 'greenyellow');
                            count++;
                        }
                    }
                }
                else if (eventRow == 0 && eventCol == 9)
                {
                    if (grid[eventRow][eventCol][0] == "empty" && !vertical &&
                    grid[eventRow][eventCol - 1][0] == "clicked" && grid[eventRow][eventCol - 1][1] == shipName)
                    {
                        horizontal = true;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                        if(event.style.background == 'yellow' && count<maxSize) {
                            $(event).css('background', 'greenyellow');
                            count++;
                        }
                    }

                    if (grid[eventRow][eventCol][0] == "empty" && !horizontal &&
                    grid[eventRow + 1][eventCol][0] == "clicked" && grid[eventRow + 1][eventCol][1] == shipName)
                    {
                        vertical = true;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                        if(event.style.background == 'yellow' && count<maxSize) {
                            $(event).css('background', 'greenyellow');
                            count++;
                        }
                    }
                }
                else if (eventRow == 9 && eventCol == 0)
                {
                    if (grid[eventRow][eventCol][0] == "empty" && !vertical &&
                    grid[eventRow][eventCol + 1][0] == "clicked" && grid[eventRow][eventCol + 1][1] == shipName)
                    {
                        horizontal = true;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                        if(event.style.background == 'yellow' && count<maxSize) {
                            $(event).css('background', 'greenyellow');
                            count++;
                        }
                    }

                    if (grid[eventRow][eventCol][0] == "empty" && !horizontal &&
                    grid[eventRow - 1][eventCol][0] == "clicked" && grid[eventRow - 1][eventCol][1] == shipName)
                    {
                        vertical = true;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                        if(event.style.background == 'yellow' && count<maxSize) {
                            $(event).css('background', 'greenyellow');
                            count++;
                        }
                    }
                }
                else if (eventRow == 9 && eventCol == 9)
                {
                    if (grid[eventRow][eventCol][0] == "empty" && !vertical &&
                    grid[eventRow][eventCol - 1][0] == "clicked" && grid[eventRow][eventCol - 1][1] == shipName)
                    {
                        horizontal = true;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                        if(event.style.background == 'yellow' && count<maxSize) {
                            $(event).css('background', 'greenyellow');
                            count++;
                        }
                    }

                    if (grid[eventRow][eventCol][0] == "empty" && !horizontal &&
                    grid[eventRow - 1][eventCol][0] == "clicked" && grid[eventRow - 1][eventCol][1] == shipName)
                    {
                        vertical = true;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                        if(event.style.background == 'yellow' && count<maxSize) {
                            $(event).css('background', 'greenyellow');
                            count++;
                        }
                    }
                }
                else if (eventRow == 9) {
                    if (grid[eventRow][eventCol][0] == "empty" && !vertical &&
                (grid[eventRow][eventCol - 1][0] == "clicked" && grid[eventRow][eventCol - 1][1] == shipName
                    || grid[eventRow][eventCol + 1][0] == "clicked" && grid[eventRow][eventCol + 1][1] == shipName))
                {
                    horizontal = true;
                    grid[eventRow][eventCol][0] = "clicked";
                    grid[eventRow][eventCol][1] = shipName;
                    if(event.style.background == 'yellow' && count<maxSize) {
                        $(event).css('background', 'greenyellow');
                        count++;
                    }
                }

                if (grid[eventRow][eventCol][0] == "empty" && !horizontal && grid[eventRow - 1][eventCol][0] == "clicked" && grid[eventRow - 1][eventCol][1] == shipName)
                {
                    vertical = true;
                    grid[eventRow][eventCol][0] = "clicked";
                    grid[eventRow][eventCol][1] = shipName;
                    if(event.style.background == 'yellow' && count<maxSize) {
                        $(event).css('background', 'greenyellow');
                        count++;
                    }
                }
                }
                else if (eventRow == 0) {
                    if (grid[eventRow][eventCol][0] == "empty" && !vertical &&
                    (grid[eventRow][eventCol - 1][0] == "clicked" && grid[eventRow][eventCol - 1][1] == shipName
                        || grid[eventRow][eventCol + 1][0] == "clicked" && grid[eventRow][eventCol + 1][1] == shipName))
                    {
                        horizontal = true;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                        if(event.style.background == 'yellow' && count<maxSize) {
                            $(event).css('background', 'greenyellow');
                            count++;
                        }
                    }

                    if (grid[eventRow][eventCol][0] == "empty" && !horizontal && grid[eventRow + 1][eventCol][0] == "clicked" && grid[eventRow + 1][eventCol][1] == shipName)
                    {
                        vertical = true;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                        if(event.style.background == 'yellow' && count<maxSize) {
                            $(event).css('background', 'greenyellow');
                            count++;
                        }
                    }
                }
                else if (eventCol == 0) {
                    if (grid[eventRow][eventCol][0] == "empty" && !vertical && grid[eventRow][eventCol + 1][0] == "clicked" && grid[eventRow][eventCol + 1][1] == shipName)
                    {
                        horizontal = true;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                        if(event.style.background == 'yellow' && count<maxSize) {
                            $(event).css('background', 'greenyellow');
                            count++;
                        }
                    }

                    if (grid[eventRow][eventCol][0] == "empty" && !horizontal &&
                    (grid[eventRow - 1][eventCol][0] == "clicked" && grid[eventRow - 1][eventCol][1] == shipName
                        || grid[eventRow + 1][eventCol][0] == "clicked" && grid[eventRow + 1][eventCol][1] == shipName))
                    {
                        vertical = true;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                        if(event.style.background == 'yellow' && count<maxSize) {
                            $(event).css('background', 'greenyellow');
                            count++;
                        }
                    }
                }
                else if (eventCol == 9) {
                    if (grid[eventRow][eventCol][0] == "empty" && !vertical && grid[eventRow][eventCol - 1][0] == "clicked" && grid[eventRow][eventCol - 1][1] == shipName)
                    {
                        horizontal = true;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                        if(event.style.background == 'yellow' && count<maxSize) {
                            $(event).css('background', 'greenyellow');
                            count++;
                        }
                    }

                    if (grid[eventRow][eventCol][0] == "empty" && !horizontal &&
                    (grid[eventRow - 1][eventCol][0] == "clicked" && grid[eventRow - 1][eventCol][1] == shipName
                        || grid[eventRow + 1][eventCol][0] == "clicked" && grid[eventRow + 1][eventCol][1] == shipName))
                    {
                        vertical = true;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                        if(event.style.background == 'yellow' && count<maxSize) {
                            $(event).css('background', 'greenyellow');
                            count++;
                        }
                    }
                }
            }


            if (grid[eventRow][eventCol][0] == "clicked" && (event.style.background == 'red' || event.style.background == 'darkred'))
            {
                grid[eventRow][eventCol][0] = "empty";
                grid[eventRow][eventCol][1] = "empty";
                $(event).css('background', '');
                count--;
                event.setAttribute('data-name', '');
            }
        }

        function hoverOver(event) {
            if(event.style.background == '') {
                $(event).css('background', 'yellow');
            }
            if(event.style.background == "lightgray") {
                $(event).css('background', 'red');
            }
            if(event.style.background == "greenyellow") {
                $(event).css('background', 'darkred');
            }
        }

        function hoverOut(event) {
            if(event.style.background == 'yellow') {
                $(event).css('background', '');
            }
            if(event.style.background == "red") {
                $(event).css('background', 'lightgray');
            }
            if(event.style.background == "darkred") {
                $(event).css('background', 'greenyellow');
            }
        }

        function chosenShip(event) {
            count = 0;
            shipName = event.getAttribute("data-size");
            firstIsPlaced = false;
            horizontal = false;
            vertical = false;

            switch (shipName) {
                case "extraLarge":
                    maxSize = 5;
                    break;
                case "large":
                    maxSize = 4;
                    break;
                case "medium":
                    maxSize = 3;
                    break;
                case "mediumsub":
                    maxSize = 3;
                    break;
                case "small":
                    maxSize = 2;
                    break;
            }
        }
    </script>
</head>
<body>
@for (int i = 0; i < 10; i++)
{
    <div class="row no-gutters PlaceShipsRow">
        @for (int j = 0; j < 10; j++)
        {
            <div class="col field" id="@i-@j" data-row="@i" data-col="@j" onclick="clicked(this)" onmouseover="hoverOver(this)" onmouseout="hoverOut(this)">

            </div>
        }
    </div>
}
</body>
