<!DOCTYPE html>
<head>
    <script>
        var count = 0;
        var maxSize = 0;
        var grid = [
                ["empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty",],
                ["empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty",],
                ["empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty",],
                ["empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty",],
                ["empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty",],
                ["empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty",],
                ["empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty",],
                ["empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty",],
                ["empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty",],
                ["empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty", "empty",]
        ];
        var first = false;
        var vertical = false;
        var horizontal = false;

        function clicked(event)
        {
            var eventRow = parseInt(event.getAttribute("data-row"));    
            var eventCol = parseInt(event.getAttribute("data-col"));

            if (grid[eventRow][eventCol] == "empty" && !first)
            {
                grid[eventRow][eventCol] = "clicked";
                first = true;

                if (event.style.background == 'yellow' && count < maxSize)
                {
                    $(event).css('background', 'lightgray');
                    count++;
                }
                else if(event.style.background == 'red'){
                    $(event).css('background', '');
                    count--;
                }
            }
            if (first) {
                if (grid[eventRow][eventCol] == "empty" && grid[eventRow - 1][eventCol] == "clicked" && !vertical|| grid[eventRow][eventCol] == "empty" && grid[eventRow + 1][eventCol] == "clicked" && !vertical)
                {
                    horizontal = true;
                    grid[eventRow][eventCol] = "clicked";
                    if(event.style.background == 'yellow' && count<maxSize) {
                        $(event).css('background', 'greenyellow');
                        count++;
                    }
                }

                if(grid[eventRow][eventCol] == "empty" && grid[eventRow][eventCol - 1] == "clicked" && !horizontal|| grid[eventRow][eventCol] == "empty" && grid[eventRow][eventCol + 1] == "clicked" && !horizontal) {
                    vertical = true;
                    grid[eventRow][eventCol] = "clicked";
                    if(event.style.background == 'yellow' && count<maxSize) {
                        $(event).css('background', 'greenyellow');
                        count++;
                    }
                }
            }
            
            if (grid[eventRow][eventCol] == "clicked" && event.style.background == 'red' || grid[eventRow][eventCol] == "clicked" && event.style.background == 'darkred')
            {
                grid[eventRow][eventCol] = "empty";
                $(event).css('background', '');
                count--;
            }
        }

        function hoverOver(event) {
            if(event.style.background == '') {
                $(event).css('background', 'yellow');
            }
            if(event.style.background == "lightgray") {
                $(event).css('background', 'red');
            }
            if(event.style.background == "greenyellow") {
                $(event).css('background', 'darkred');
            }
        }

        function hoverOut(event) {
            if(event.style.background == 'yellow') {
                $(event).css('background', '');
            }
            if(event.style.background == "red") {
                $(event).css('background', 'lightgray');
            }
            if(event.style.background == "darkred") {
                $(event).css('background', 'greenyellow');
            }
        }

        function chosenShip(event) {
            count = 0;
            maxSize = parseInt(event.getAttribute("data-size"));
            first = false;
            horizontal = false;
            vertical = false;
        }
    </script>
</head>
<body>
@for (int i = 0; i < 10; i++)
{
    <div class="row no-gutters PlaceShipsRow">
        @for (int j = 0; j < 10; j++)
        {
            <div class="col field" id="@i-@j" data-row="@i" data-col="@j" data-name ="" onclick="clicked(this)" onmouseover="hoverOver(this)" onmouseout="hoverOut(this)">

            </div>
        }
    </div>
}
</body>
