@{
    ViewData["Title"] = "Game";
}

<style>
    body {
        background-color: #5e9ad3;
    }
    footer {
        background-color: white;
    }
</style>

<script>
    window.onload = function () {
        $("#endP2Turn").css('filter', "alpha(opacity:30)");
        $("#endP2Turn").css('opacity', '.30');
        $("#endP2Turn").css('background-color', '#111');
    };

    var P1Turn = true;
    var P2Turn = false;
    var P1Moved = false;
    var P2Moved = false;
    var gridP1 = JSON.parse(window.localStorage.getItem("gridP1")); // Retrieving grid P1
    var gridP2 = JSON.parse(window.localStorage.getItem("gridP2")); // Retrieving grid P2

    function endTurnP1(event) {
        if (P1Turn) {
            P1Turn = false;
            P2Turn = true;
            P1Moved = false;
            $(event).css('filter', "alpha(opacity:30)");
            $(event).css('opacity', '.30');
            $(event).css('background-color', '#111');
        }
    }

    function endTurnP2(event) {
        if (P2Turn) {
            P1Turn = true;
            P2Turn = false;
            P2Moved = false;
            $(event).css('filter', "alpha(opacity:30)");
            $(event).css('opacity', '.30');
            $(event).css('background-color', '#111');
        }
    }

    function friendlyClicked(event) {
        if (P2Turn && !P2Moved) {
            var eventRow = parseInt(event.getAttribute("data-row"));
            var eventCol = parseInt(event.getAttribute("data-col"));

            if (gridP1[eventRow][eventCol][0] == "clicked") {
                $("#F-" + eventRow + "-" + eventCol).css('background', "greenyellow");
            }
            else if (gridP1[eventRow][eventCol][0] == "empty") {
                $("#F-" + eventRow + "-" + eventCol).css('background', "red");
                P2Moved = true;
                $("#endP2Turn").css('filter', "");
                $("#endP2Turn").css('opacity', '');
                $("#endP2Turn").css('background-color', '');
            }
        }
    }

    function enemyClicked(event) {
        if (P1Turn && !P1Moved) {
            var eventRow = parseInt(event.getAttribute("data-row"));
            var eventCol = parseInt(event.getAttribute("data-col"));

            if (gridP2[eventRow][eventCol][0] == "clicked") {
                $("#E-" + eventRow + "-" + eventCol).css('background', "greenyellow");
            }
            else if (gridP2[eventRow][eventCol][0] == "empty") {
                $("#E-" + eventRow + "-" + eventCol).css('background', "red");
                P1Moved = true;
                $("#endP1Turn").css('filter', "");
                $("#endP1Turn").css('opacity', '');
                $("#endP1Turn").css('background-color', '');
            }
        }
    }

    function hoverOver(event) {
        if (event.style.background == '') {
            $(event).css('background', 'yellow');
        }
    }

    function hoverOut(event) {
        if (event.style.background == 'yellow') {
            $(event).css('background', '');
        }
    }
</script>

<body>
    <div>
        <div id="playFieldFriendly" class="container PlayfieldFriendly">
            <h1>Player 1</h1>
            @for (int i = 0; i < 10; i++)
            {
                <div class="row no-gutters PlaceShipsRow">
                    @for (int j = 0; j < 10; j++)
                    {
                        <div class="col field" id="F-@i-@j" data-row="@i" data-col="@j" onclick="friendlyClicked(this)" onmouseover="hoverOver(this)" onmouseout="hoverOut(this)">

                        </div>
                    }
                </div>
            }
            <button id="endP1Turn" type="button" class="btn btn-startbuttons" onclick="endTurnP1(this)">End turn</button>
        </div>
        <div id="playfieldEnemy" class="container PlayfieldEnemy">
            <h1>Player 2</h1>
            @for (int i = 0; i < 10; i++)
            {
                <div class="row no-gutters PlaceShipsRow">
                    @for (int j = 0; j < 10; j++)
                    {
                        <div class="col field" id="E-@i-@j" data-row="@i" data-col="@j" onclick="enemyClicked(this)" onmouseover="hoverOver(this)" onmouseout="hoverOut(this)">

                        </div>
                    }
                </div>
            }
            <button id="endP2Turn" type="button" class="btn btn-startbuttons" onclick="endTurnP2(this)">End turn</button>
        </div>
    </div>
</body>