@{
    ViewData["Title"] = "Game";
}

<style>
    body {
        background-color: #5e9ad3;
    }
    footer {
        background-color: white;
    }
</style>

<script>

    //window.onload = function () {
    //    loadP1View();
    //    loadP2View();
    //};

    var gridP1 = JSON.parse(window.localStorage.getItem("gridP1")); // Retrieving grid P1
    var gridP2 = JSON.parse(window.localStorage.getItem("gridP2")); // Retrieving grid P2
    
    function loadP1View() {
        for (var r = 0; r < gridP1.length; r++) {
            for (var c = 0; c < gridP1[r].length; c++) {
                if (gridP1[r][c][0] == "clicked") {
                    $("#F-" + r + "-" + c).css('background', "lightgray");
                }
            }
        }
    }
    function loadP2View() {
        for (var r = 0; r < gridP2.length; r++) {
            for (var c = 0; c < gridP2[r].length; c++) {
                if (gridP2[r][c][0] == "clicked") {
                    $("#E-" + r + "-" + c).css('background', "lightgray");
                }
            }
        }
    }

    function friendlyClicked(event) {
        var eventRow = parseInt(event.getAttribute("data-row"));
        var eventCol = parseInt(event.getAttribute("data-col"));

        if (gridP1[eventRow][eventCol][0] == "clicked") {
            $("#F-" + eventRow + "-" + eventCol).css('background', "red");
        }
        else if (gridP1[eventRow][eventCol][0] == "empty") {
            $("#F-" + eventRow + "-" + eventCol).css('background', "greenyellow");
        }
    }

    function enemyClicked(event) {
        var eventRow = parseInt(event.getAttribute("data-row"));
        var eventCol = parseInt(event.getAttribute("data-col"));

        if (gridP2[eventRow][eventCol][0] == "clicked") {
            $("#E-" + eventRow + "-" + eventCol).css('background', "red");
        }
        else if (gridP2[eventRow][eventCol][0] == "empty") {
            $("#E-" + eventRow + "-" + eventCol).css('background', "greenyellow");
        }
    }

    function hoverOver(event) {
        if (event.style.background == '') {
            $(event).css('background', 'yellow');
        }
    }

    function hoverOut(event) {
        if (event.style.background == 'yellow') {
            $(event).css('background', '');
        }
    }
</script>

<body>
    <div>
        <div id="playFieldFriendly" class="container PlayfieldFriendly">
            <h1>You</h1>
            @for (int i = 0; i < 10; i++)
            {
                <div class="row no-gutters PlaceShipsRow">
                    @for (int j = 0; j < 10; j++)
                    {
                        <div class="col field" id="F-@i-@j" data-row="@i" data-col="@j" onclick="friendlyClicked(this)" onmouseover="hoverOver(this)" onmouseout="hoverOut(this)">

                        </div>
                    }
                </div>
            }
        </div>
        <div id="playfieldEnemy" class="container PlayfieldEnemy">
            <h1>Enemy</h1>
            @for (int i = 0; i < 10; i++)
            {
                <div class="row no-gutters PlaceShipsRow">
                    @for (int j = 0; j < 10; j++)
                    {
                        <div class="col field" id="E-@i-@j" data-row="@i" data-col="@j" onclick="enemyClicked(this)" onmouseover="hoverOver(this)" onmouseout="hoverOut(this)">

                        </div>
                    }
                </div>
            }
        </div>
    </div>
</body>