
@{
    ViewData["Title"] = "Game";
}

<h1>Game</h1>

<style>
    body {
        background-color: #5e9ad3;
    }
    footer {
        background-color: white;
    }
</style>

<div>
    <div id="placeShips" class="container PlaceShips">
        <partial name="_PlayingFieldPartial" />
    </div>
</div>