
@{
    ViewData["Title"] = "Game";
}

<h1>Game</h1>

<style>
    body {
        background-color: #5e9ad3;
    }
    footer {
        background-color: white;
    }
</style>

<script>
    window.onload = function () {
        loadEnemyView();
        loadFriendlyView();
    };

    var gridFriendly = [
        [["occupied", ""], ["occupied", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]],
        [["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]],
        [["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]],
        [["occupied", ""], ["occupied", ""], ["occupied", ""], ["occupied", ""], ["occupied", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]],
        [["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]],
        [["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["occupied", ""], ["occupied", ""], ["occupied", ""], ["occupied", ""], ["empty", ""], ["empty", ""]],
        [["empty", ""], ["empty", ""], ["occupied", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]],
        [["empty", ""], ["empty", ""], ["occupied", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["occupied", ""], ["empty", ""]],
        [["empty", ""], ["empty", ""], ["occupied", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["occupied", ""], ["empty", ""]],
        [["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["occupied", ""], ["empty", ""]]
    ];
    var gridEnemy = [
        [["occupied", ""], ["occupied", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]],
        [["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]],
        [["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]],
        [["occupied", ""], ["occupied", ""], ["occupied", ""], ["occupied", ""], ["occupied", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]],
        [["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]],
        [["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["occupied", ""], ["occupied", ""], ["occupied", ""], ["clicked", ""], ["empty", ""], ["empty", ""]],
        [["empty", ""], ["empty", ""], ["occupied", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]],
        [["empty", ""], ["empty", ""], ["occupied", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["occupied", ""], ["empty", ""]],
        [["empty", ""], ["empty", ""], ["occupied", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["occupied", ""], ["empty", ""]],
        [["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["occupied", ""], ["empty", ""]]
    ];


    function loadFriendlyView() {
        for (var r = 0; r < gridFriendly.length; r++) {
            for (var c = 0; c < gridFriendly[r].length; c++) {
                if (gridFriendly[r][c][0] == "occupied") {
                    $("#F-" + r + "-" + c).css('background', "lightgray");
                }
            }
        }
    }

    function loadEnemyView() {
        for (var r = 0; r < gridEnemy.length; r++) {
            for (var c = 0; c < gridEnemy[r].length; c++) {
                if (gridEnemy[r][c][0] == "occupied") {
                    //$("#E-" + r + "-" + c).css('background', "lightgray");
                }
            }
        }
    }

    function clicked(event) {
        var eventRow = parseInt(event.getAttribute("data-row"));
        var eventCol = parseInt(event.getAttribute("data-col"));

        if (gridEnemy[eventRow][eventCol][0] == "occupied") {
            $("#E-" + eventRow + "-" + eventCol).css('background', "greenyellow");
        }
        else if (gridEnemy[eventRow][eventCol][0] == "empty") {
            $("#E-" + eventRow + "-" + eventCol).css('background', "red");
        }
    }

    function hoverOver(event) {
        if (event.style.background == '') {
            $(event).css('background', 'yellow');
        }
    }

    function hoverOut(event) {
        if (event.style.background == 'yellow') {
            $(event).css('background', '');
        }
    }
</script>

<div>
    <div id="playFieldFriendly" class="container PlayfieldFriendly">
        @for (int i = 0; i < 10; i++)
        {
            <div class="row no-gutters PlaceShipsRow">
                @for (int j = 0; j < 10; j++)
                {
                    <div class="col field" id="F-@i-@j" data-row="@i" data-col="@j">

                    </div>
                }
            </div>
        }
        @*<partial name="_PlayingFieldFriendlyPartial" />*@
    </div>
    <div id="playfieldEnemy" class="container PlayfieldEnemy">
        @for (int i = 0; i < 10; i++)
        {
            <div class="row no-gutters PlaceShipsRow">
                @for (int j = 0; j < 10; j++)
                {
                    <div class="col field" id="E-@i-@j" data-row="@i" data-col="@j" onclick="clicked(this)" onmouseover="hoverOver(this)" onmouseout="hoverOut(this)">

                    </div>
                }
            </div>
        }
        @*<partial name="_PlayingFieldEnemyPartial" />*@
    </div>
</div>