
@{
    ViewData["Title"] = "PlaceShips";
}

<h1>PlaceShips</h1>
<style>
    body {
        background-color: #5e9ad3;
    }

    footer {
        background-color: white;
    }
</style>

<body>
    <div class="ChooseShips">
        <button type="button" , class="btn btn-shipbuttons boat5" data-size="extraLarge" onclick="chosenShip(this)"></button>
        <button type="button" , class="btn btn-shipbuttons boat4" data-size="large" onclick="chosenShip(this)"></button>
        <button type="button" , class="btn btn-shipbuttons boat3" data-size="medium" onclick="chosenShip(this)"></button>
        <button type="button" , class="btn btn-shipbuttons sub3" data-size="submedium" onclick="chosenShip(this)"></button>
        <button type="button" , class="btn btn-shipbuttons boat2" data-size="small" onclick="chosenShip(this)"></button>
    </div>
<div>
    <div id="placeShips" class="container PlaceShips">
        <partial name="_PlayingFieldPartial" />
    </div>
</div>
<div style="margin-top: 20px" , class="DivBottomRightButtons">
    @Html.ActionLink("Submit", "Game", "Game", null, new {@class = "btn btn-startbuttons"})
</div>
</body>