
@{
    ViewData["Title"] = "PlaceShips";
}

<h1>PlaceShips</h1>

<div>
    <div style="margin-top: 40px">
        <partial name="_PlayingFieldPartial"/>
    </div>
</div>

<div class="DivBottomRightButtons">
    <div style="margin-top: 20px">
        @Html.ActionLink("Submit", "Game", "Game", null, new { @class = "btn btn-startbuttons" })
    </div>
</div>