
@{
    ViewData["Title"] = "PlaceShips";
}

<h1>PlaceShips</h1>
<style>
    body {
        background-color: #5e9ad3;
    }

    footer {
        background-color: white;
    }
</style>
<div>
    <div> @*style="margin-top: 10px">*@
        <partial name="_PlayingFieldPartial"/>
    </div>
</div>

<div class="DivBottomRightButtons">
    <div style="margin-top: 20px">
        @Html.ActionLink("Submit", "Game", "Game", null, new { @class = "btn btn-startbuttons" })
    </div>
</div>