@model Submarine.Web.Models.ConvertGridModel

@{
    ViewData["Title"] = "PlaceShips";
}

<h1>PlaceShips player 2</h1>
<style>
    body {
        background-color: #5e9ad3;
    }

    footer {
        background-color: white;
    }
</style>

<script>
    var count = 0;
    var maxSize = 0;
    var grid = [
        [["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]],
        [["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]],
        [["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]],
        [["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]],
        [["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]],
        [["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]],
        [["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]],
        [["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]],
        [["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]],
        [["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""], ["empty", ""]]
    ];
    var firstIsPlaced = false;
    var vertical = false;
    var horizontal = false;
    var shipName = "";
    var placedShips = [["extraLarge", "notplaced"], ["large", "notplaced"], ["medium", "notplaced"], ["submedium", "notplaced"], ["small", "notplaced"]];

    function clicked(event) {
        var eventRow = parseInt(event.getAttribute("data-row"));
        var eventCol = parseInt(event.getAttribute("data-col"));


        if (grid[eventRow][eventCol][0] == "empty" && !firstIsPlaced) {
            for (var i = 0; i < placedShips.length; i++) {
                if (placedShips[i][0] == shipName && placedShips[i][1] == "notplaced") {
                    grid[eventRow][eventCol][0] = "clicked";
                    grid[eventRow][eventCol][1] = shipName;
                    placedShips[i][1] = "placed";
                    $("#" + shipName).css('filter', "alpha(opacity:30)");
                    $("#" + shipName).css('opacity', '.30');
                    $("#" + shipName).css('background-color', '#111');
                    firstIsPlaced = true;

                    if (event.style.background == 'yellow' && count < maxSize) {
                        $(event).css('background', 'lightgray');
                        count++;
                    }
                    else if (event.style.background == 'red') {
                        $(event).css('background', '');
                        count--;
                    }
                }
            }
        }

        if (firstIsPlaced) {
            if (eventRow < 9 && eventRow > 0 && eventCol > 0 && eventCol < 9) {
                if (grid[eventRow][eventCol][0] == "empty" && !vertical &&
                    (grid[eventRow][eventCol - 1][0] == "clicked" && grid[eventRow][eventCol - 1][1] == shipName
                        || grid[eventRow][eventCol + 1][0] == "clicked" && grid[eventRow][eventCol + 1][1] == shipName)) {
                    horizontal = true;

                    if (event.style.background == 'yellow' && count < maxSize) {
                        $(event).css('background', 'greenyellow');
                        count++;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                    }
                }

                if (grid[eventRow][eventCol][0] == "empty" && !horizontal &&
                    (grid[eventRow - 1][eventCol][0] == "clicked" && grid[eventRow - 1][eventCol][1] == shipName
                        || grid[eventRow + 1][eventCol][0] == "clicked" && grid[eventRow + 1][eventCol][1] == shipName)) {
                    vertical = true;

                    if (event.style.background == 'yellow' && count < maxSize) {
                        $(event).css('background', 'greenyellow');
                        count++;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                    }
                }
            }
            else if (eventRow == 0 && eventCol == 0) {
                if (grid[eventRow][eventCol][0] == "empty" && !vertical &&
                    grid[eventRow][eventCol + 1][0] == "clicked" && grid[eventRow][eventCol + 1][1] == shipName) {
                    horizontal = true;

                    if (event.style.background == 'yellow' && count < maxSize) {
                        $(event).css('background', 'greenyellow');
                        count++;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                    }
                }

                if (grid[eventRow][eventCol][0] == "empty" && !horizontal &&
                    grid[eventRow + 1][eventCol][0] == "clicked" && grid[eventRow + 1][eventCol][1] == shipName) {
                    vertical = true;

                    if (event.style.background == 'yellow' && count < maxSize) {
                        $(event).css('background', 'greenyellow');
                        count++;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                    }
                }
            }
            else if (eventRow == 0 && eventCol == 9) {
                if (grid[eventRow][eventCol][0] == "empty" && !vertical &&
                    grid[eventRow][eventCol - 1][0] == "clicked" && grid[eventRow][eventCol - 1][1] == shipName) {
                    horizontal = true;

                    if (event.style.background == 'yellow' && count < maxSize) {
                        $(event).css('background', 'greenyellow');
                        count++;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                    }
                }

                if (grid[eventRow][eventCol][0] == "empty" && !horizontal &&
                    grid[eventRow + 1][eventCol][0] == "clicked" && grid[eventRow + 1][eventCol][1] == shipName) {
                    vertical = true;

                    if (event.style.background == 'yellow' && count < maxSize) {
                        $(event).css('background', 'greenyellow');
                        count++;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                    }
                }
            }
            else if (eventRow == 9 && eventCol == 0) {
                if (grid[eventRow][eventCol][0] == "empty" && !vertical &&
                    grid[eventRow][eventCol + 1][0] == "clicked" && grid[eventRow][eventCol + 1][1] == shipName) {
                    horizontal = true;

                    if (event.style.background == 'yellow' && count < maxSize) {
                        $(event).css('background', 'greenyellow');
                        count++;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                    }
                }

                if (grid[eventRow][eventCol][0] == "empty" && !horizontal &&
                    grid[eventRow - 1][eventCol][0] == "clicked" && grid[eventRow - 1][eventCol][1] == shipName) {
                    vertical = true;

                    if (event.style.background == 'yellow' && count < maxSize) {
                        $(event).css('background', 'greenyellow');
                        count++;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                    }
                }
            }
            else if (eventRow == 9 && eventCol == 9) {
                if (grid[eventRow][eventCol][0] == "empty" && !vertical &&
                    grid[eventRow][eventCol - 1][0] == "clicked" && grid[eventRow][eventCol - 1][1] == shipName) {
                    horizontal = true;

                    if (event.style.background == 'yellow' && count < maxSize) {
                        $(event).css('background', 'greenyellow');
                        count++;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                    }
                }

                if (grid[eventRow][eventCol][0] == "empty" && !horizontal &&
                    grid[eventRow - 1][eventCol][0] == "clicked" && grid[eventRow - 1][eventCol][1] == shipName) {
                    vertical = true;

                    if (event.style.background == 'yellow' && count < maxSize) {
                        $(event).css('background', 'greenyellow');
                        count++;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                    }
                }
            }
            else if (eventRow == 9) {
                if (grid[eventRow][eventCol][0] == "empty" && !vertical &&
                    (grid[eventRow][eventCol - 1][0] == "clicked" && grid[eventRow][eventCol - 1][1] == shipName
                        || grid[eventRow][eventCol + 1][0] == "clicked" && grid[eventRow][eventCol + 1][1] == shipName)) {
                    horizontal = true;

                    if (event.style.background == 'yellow' && count < maxSize) {
                        $(event).css('background', 'greenyellow');
                        count++;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                    }
                }

                if (grid[eventRow][eventCol][0] == "empty" && !horizontal && grid[eventRow - 1][eventCol][0] == "clicked" && grid[eventRow - 1][eventCol][1] == shipName) {
                    vertical = true;

                    if (event.style.background == 'yellow' && count < maxSize) {
                        $(event).css('background', 'greenyellow');
                        count++;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                    }
                }
            }
            else if (eventRow == 0) {
                if (grid[eventRow][eventCol][0] == "empty" && !vertical &&
                    (grid[eventRow][eventCol - 1][0] == "clicked" && grid[eventRow][eventCol - 1][1] == shipName
                        || grid[eventRow][eventCol + 1][0] == "clicked" && grid[eventRow][eventCol + 1][1] == shipName)) {
                    horizontal = true;

                    if (event.style.background == 'yellow' && count < maxSize) {
                        $(event).css('background', 'greenyellow');
                        count++;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                    }
                }

                if (grid[eventRow][eventCol][0] == "empty" && !horizontal && grid[eventRow + 1][eventCol][0] == "clicked" && grid[eventRow + 1][eventCol][1] == shipName) {
                    vertical = true;

                    if (event.style.background == 'yellow' && count < maxSize) {
                        $(event).css('background', 'greenyellow');
                        count++;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                    }
                }
            }
            else if (eventCol == 0) {
                if (grid[eventRow][eventCol][0] == "empty" && !vertical && grid[eventRow][eventCol + 1][0] == "clicked" && grid[eventRow][eventCol + 1][1] == shipName) {
                    horizontal = true;

                    if (event.style.background == 'yellow' && count < maxSize) {
                        $(event).css('background', 'greenyellow');
                        count++;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                    }
                }

                if (grid[eventRow][eventCol][0] == "empty" && !horizontal &&
                    (grid[eventRow - 1][eventCol][0] == "clicked" && grid[eventRow - 1][eventCol][1] == shipName
                        || grid[eventRow + 1][eventCol][0] == "clicked" && grid[eventRow + 1][eventCol][1] == shipName)) {
                    vertical = true;

                    if (event.style.background == 'yellow' && count < maxSize) {
                        $(event).css('background', 'greenyellow');
                        count++;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                    }
                }
            }
            else if (eventCol == 9) {
                if (grid[eventRow][eventCol][0] == "empty" && !vertical && grid[eventRow][eventCol - 1][0] == "clicked" && grid[eventRow][eventCol - 1][1] == shipName) {
                    horizontal = true;

                    if (event.style.background == 'yellow' && count < maxSize) {
                        $(event).css('background', 'greenyellow');
                        count++;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                    }
                }

                if (grid[eventRow][eventCol][0] == "empty" && !horizontal &&
                    (grid[eventRow - 1][eventCol][0] == "clicked" && grid[eventRow - 1][eventCol][1] == shipName
                        || grid[eventRow + 1][eventCol][0] == "clicked" && grid[eventRow + 1][eventCol][1] == shipName)) {
                    vertical = true;

                    if (event.style.background == 'yellow' && count < maxSize) {
                        $(event).css('background', 'greenyellow');
                        count++;
                        grid[eventRow][eventCol][0] = "clicked";
                        grid[eventRow][eventCol][1] = shipName;
                    }
                }
            }
        }

        if (grid[eventRow][eventCol][0] == "clicked" && (event.style.background == 'red' || event.style.background == 'darkred')) {
            var removedShip = grid[eventRow][eventCol][1];

            for (var i = 0; i < placedShips.length; i++) {
                if (placedShips[i][0] == removedShip) {
                    placedShips[i][1] = "notplaced";
                }
            }

            for (var r = 0; r < grid.length; r++) {
                for (var c = 0; c < grid[r].length; c++) {
                    if (grid[r][c][1] == removedShip) {
                        grid[r][c][0] = "empty";
                        grid[r][c][1] = "empty";
                        $("#" + r + "-" + c).css('background', '');
                        event.setAttribute('data-name', '');
                    }
                }
            }

            maxSize -= count;
            count = 0;
            $("#" + removedShip).css('filter', "");
            $("#" + removedShip).css('opacity', '');
            $("#" + removedShip).css('background-color', '');
        }
    }

    function hoverOver(event) {
        if (event.style.background == '') {
            $(event).css('background', 'yellow');
        }
        if (event.style.background == "lightgray") {
            $(event).css('background', 'red');
        }
        if (event.style.background == "greenyellow") {
            $(event).css('background', 'darkred');
        }
    }

    function hoverOut(event) {
        if (event.style.background == 'yellow') {
            $(event).css('background', '');
        }
        if (event.style.background == "red") {
            $(event).css('background', 'lightgray');
        }
        if (event.style.background == "darkred") {
            $(event).css('background', 'greenyellow');
        }
    }

    function chosenShip(event) {
        count = 0;
        shipName = event.getAttribute("data-size");
        firstIsPlaced = false;
        horizontal = false;
        vertical = false;

        for (var i = 0; i < placedShips.length; i++) {
            if (placedShips[i][0] == shipName && placedShips[i][1] == "notplaced") {
                switch (shipName) {
                    case "extraLarge":
                        maxSize = 5;
                        break;
                    case "large":
                        maxSize = 4;
                        break;
                    case "medium":
                        maxSize = 3;
                        break;
                    case "submedium":
                        maxSize = 3;
                        break;
                    case "small":
                        maxSize = 2;
                        break;
                }
            }
        }
    }

    function submitShips() {
        var count = 0;

        for (var r = 0; r < grid.length; r++) {
            for (var c = 0; c < grid[r].length; c++) {
                if (grid[r][c][0] == "clicked") {
                    count += 1;
                }
            }
        }

        if (count == 17) {
            var url = '@Url.Action("Game", "Game")';
            window.location.href = url;
            window.localStorage.setItem("gridP2", JSON.stringify(grid)); // Saving grid

            $.ajax({
                type: "POST",
                url: '@Url.Action("GridP2", "Game")',
                data: { grid: grid },
                traditional: true,
                success: function () { alert("Mapping Successful") },
                failure: function () { alert("not working..."); }
            });
        }
    }
</script>

<body>
    <div class="ChooseShips">
        <button id="extraLarge" type="button" , class="btn btn-shipbuttons boat5" data-size="extraLarge" onclick="chosenShip(this)"></button>
        <button id="large" type="button" , class="btn btn-shipbuttons boat4" data-size="large" onclick="chosenShip(this)"></button>
        <button id="medium" type="button" class="btn btn-shipbuttons boat3" data-size="medium" onclick="chosenShip(this)"></button>
        <button id="submedium" type="button" class="btn btn-shipbuttons sub3" data-size="submedium" onclick="chosenShip(this)"></button>
        <button id="small" type="button" class="btn btn-shipbuttons boat2" data-size="small" onclick="chosenShip(this)"></button>
    </div>
    <div>
        <div id="placeShips" class="container PlaceShips">
            @for (int i = 0; i < 10; i++)
            {
                <div class="row no-gutters PlaceShipsRow">
                    @for (int j = 0; j < 10; j++)
                    {
                        <div class="col field" id="@i-@j" data-row="@i" data-col="@j" onclick="clicked(this)" onmouseover="hoverOver(this)" onmouseout="hoverOut(this)">

                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <div style="margin-top: 20px" , class="DivBottomRightButtons">
        <button type="button" class="btn btn-startbuttons" onclick="submitShips()">Submit</button>
    </div>
</body>