
@{
    ViewData["Title"] = "PlaceShips";
}

<h1>PlaceShips</h1>

<div class="DivBottomRightButtons" , style="margin-top: 300px">
    <div style="margin-top: 20px">
        @Html.ActionLink("Submit", "Game", "Game", null, new { @class = "btn btn-startbuttons" })
    </div>
</div>