
@{
    ViewData["Title"] = "WinnerP1";
}

    <style>
        body {
            background-color: #5e9ad3;
        }

        footer {
            background-color: white;
        }
    </style>
<div class="DivWinner">
        <div style="margin-top: 50px">
        </div>
        <h2>Player 1 Wins!</h2>
    </div>

