@using System.Runtime.InteropServices
@using Submarine.Web.Controllers
@{
    ViewData["Title"] = "Home Page";
}

    <div class="DivCenterButtons" , style="margin-top: 300px">
        <div style="margin-top: 20px">
            @Html.ActionLink("Create lobby", "LobbyHost", "Lobby", null, new { @class = "btn btn-startbuttons" })
        </div>
        <div style="margin-top: 20px">
            @Html.ActionLink("Join lobby", "JoinLobby", "Lobby", null, new { @class = "btn btn-startbuttons" })
        </div>
        <div style="margin-top: 20px">
            @Html.ActionLink("Quit", "Quit", "Home", null, new { @class = "btn btn-startbuttons" })
        </div>
    </div>
