
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<div class="DivStartButtons" , style="margin-top: 265px">
    <h2>Enter username</h2>
    @Html.Editor("LobbyCode")
    <div style="margin-top: 20px">
        @Html.ActionLink("Next", "Home", "Home", null, new { @class = "btn btn-startbuttons" })
    </div>
</div>

