/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
    color: #0079c0;
    background-color: #0079c0;
    border-color: #0079c0;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #0079c0;
    border-color: #0079c0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.btn-startbuttons {
    color: #fff;
    background-color: #0079c0;
    border-color: #0079c0;
    width: 200px;
}

.btn-startbuttons:hover  {
    color: #fff;
    background-color: lightblue;
    border-color: lightblue;
    width: 200px;
}

.DivLoginAndLobby {
    position: fixed;
    top: 50%;
    left: 65%;
    width: 20%;
    height: 190px;
    margin: -100px 0 0 -25%;
    text-align: center;
    background-color: #98cbee;
}

.DivHomeButtons {
    position: fixed;
    top: 50%;
    left: 65%;
    width: 20%;
    height: 250px;
    margin: -100px 0 0 -25%;
    text-align: center;
    background-color: #98cbee;
}

.DivBottomRightButtons {
    position: absolute;
    bottom: 100px;
    right: 60px;
}

.DivLobbyPlayers {
    width: 300px;
    background-color: white;
    text-align: center;
}

.field {
    border: 1px solid black;
}

.PlaceShips {
    position: absolute;
    left: 20%;
    top: 15%;
    height: 80vh;
    width: 80vh;
}

.PlaceShipsRow {
    height: 9%;
}

.ChooseShips {
    position: absolute;
    right: 30%;
    top: 15%;
    height: 80vh;
    width: 10vh;
}

.ChooseShipsRow {
    height: 10%;
    text-align: center;
}
